<div class="account-app-layout__widget account-app-layout__widget--address-form">
	<div class="account-app-widget-header h5">{{ 'customer.addresses.add_new' | t }}</div>
	{% form 'customer_address', customer.new_address, data-js-simple-form: '', data-address-form: '' %}

		<div class="grid-container grid-container--w-gaps">
			<div class="grid-item">
				<div class="form-element">
			        <input type="text" id="AddressFirstNameNew" name="address[first_name]" placeholder="{{ 'customer.addresses.first_name' | t }}" value="{{form.first_name}}" autocapitalize="characters">
			    	<label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
			    </div>
			</div>

		    <div class="grid-item">
			    <div class="form-element">
			        <input type="text" id="AddressLastNameNew" name="address[last_name]" placeholder="{{ 'customer.addresses.last_name' | t }}" value="{{form.last_name}}" autocapitalize="characters">
			        <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
			    </div>
			</div>
		</div>

		<div class="form-element">
		    <input type="text" id="AddressAddress1New" class="input-full" name="address[address1]" placeholder="{{ 'customer.addresses.address1' | t }}" value="{{form.address1}}" autocapitalize="characters">
		    <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
		</div>

	    <div class="form-element">
		    <input type="text" id="AddressAddress2New" class="input-full" name="address[address2]" placeholder="{{ 'customer.addresses.address2' | t }}" value="{{form.address2}}" autocapitalize="characters">
		    <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
		</div>

	    <div class="form-element">
	        <input type="text" id="AddressCityNew" class="input-full" name="address[city]" placeholder="{{ 'customer.addresses.city' | t }}" value="{{form.city}}" autocapitalize="characters">
	        <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
		</div>

		<div class="grid-container grid-container--w-gaps">
			<div class="grid-item">
			    <div class="form-element">
			        <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
			        <select id="AddressCountryNew" name="address[country]" data-default="{{form.country}}">{{ all_country_option_tags }}</select>
			    </div>
			</div>

			<div class="grid-item">
				<div class="form-element" id="AddressProvinceContainerNew">
			        <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
			        <select id="AddressProvinceNew" class="input-full" name="address[province]" data-default="{{ form.province }}"></select>
			    </div>
			</div>
		</div>

		<div class="grid-container grid-container--w-gaps">
			<div class="grid-item">
			    <div class="form-element">
			        <input type="text" id="AddressZipNew" class="input-full" name="address[zip]" placeholder="{{ 'customer.addresses.zip' | t }}" value="{{form.zip}}" autocapitalize="characters">
			        <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
			    </div>
			</div>

			<div class="grid-item">
				<div class="form-element">
			        <input type="tel" id="AddressPhoneNew" class="input-full" name="address[phone]" placeholder="{{ 'customer.addresses.phone' | t }}" value="{{form.phone}}" autocapitalize="characters">
			        <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
			    </div>
			</div>
		</div>
		
	    <div class="form-element">
	      {{ form.set_as_default_checkbox }}
	      <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
	    </div>

	    {{ form.errors | default_errors }}

		<div class="form-element">
	    	<button type="submit" class="primary-button form-main-button">{{ 'customer.addresses.add_new' | t }}</button>
	    </div>

	    <div class="text-center">
	    	<a href="#addresses" class="small">{{ 'customer.addresses.cancel' | t }}</a>
	    </div>


	{% endform %}
</div>

