<div class="password-page">
  <div class="password-page__header">
    <a href="#password" class="password-page__password-link secondary-button">{{ 'customer.password_page.password_link' | t }}</a>
  </div>
  <div class="password-page__content">
    {% if section.settings.logo_path != blank %}
      <img src="{{ section.settings.logo_path }}" alt="logo" class="password-page__logo" />
    {% endif %}
    <div style="position: relative;">
      {% unless section.settings.title == blank %}
        <h1 class="password-page__title" data-js-element="title">
          {{ section.settings.title }}
        </h1>
      {% endunless %}
      {% unless section.settings.text == blank %}
        <div class="password-page__text">
          {{ section.settings.text }}
        </div>
      {% endunless %}
      
      {% unless section.settings.countdown == blank %}
        {% include 'counter', end_date: section.settings.countdown -%}
      {% endunless %}
      {%- if section.settings.ext_button_url != blank -%}
      <div style="text-align: center; margin-top: 2rem; margin-bottom: 2rem;">
        <a href="{{ section.settings.ext_button_url }}" style="text-align: center;border: 2px solid #fff;padding: 0.5rem 1rem;background: #fff;color: #000;" class="primary-button" target="_blank">
        {{- section.settings.ext_button | escape -}}
        </a>
      </div>
      {%- endif -%}
      {% form 'storefront_password', class: "password-page__form", data-js-element: "form" %}
        <input type="password" name="password"
          id="Password"
          class="{% if form.errors %}error{% endif %}"
          placeholder="{{ 'customer.password_page.login_form_password_placeholder' | t }}"
          autocomplete="off"
        >
        <button type="submit" name="commit">{{ 'customer.password_page.login_form_submit' | t }}</button>
      {% endform %}
    </div>
  </div>
  <div class="password-page__footer">
    {% if section.blocks.size > 0 %}
      <ul class="password-page__social">
        {% for block in section.blocks %}
          {% if block.type == "social_link" %}
            <li><a href="{{ block.settings.icon_link | url }}">{{ block.settings.icon_path | img_tag }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
    {{ section.settings.footer_text }} 
  </div>
  
  {% if section.settings.pwd_img != blank %}
    {% include 'responsive-image' with image: section.settings.pwd_img, image_class: "", wrapper_class: "password-page__background" %}
  {% endif %}
</div>


{% schema %}
{
  "name": "Password",
  "settings": [
    {
      "type": "header",
      "content": "Content Settings"
    },
    {
      "type": "text",
      "id": "logo_path",
      "label": "Logo Path (svg)"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Coming soon..."
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "ext_button",
      "label": "External button text",
      "default": "Sign up for early access"
    },
     {
      "type": "url",
      "id": "ext_button_url",
      "label": "External button url"
    },
    {
      "type": "text",
      "id": "countdown",
      "label": "Countdown",
      "info": "August 4, 2021 21:24:00 MDT",
      "default": "August 4, 2021 21:24:00 MDT"
    },
    {
      "type": "richtext",
      "id": "footer_text",
      "label": "Footer Text"
    },
    {
      "type": "header",
      "content": "Background Settings"
    },
    {
      "type": "image_picker",
      "id": "pwd_img",
      "label": "Image"			
    }
  ],
  "blocks": [
    {
      "type": "social_link",
      "name": "Social Link",
      "settings": [
        {
          "type": "text",
          "id": "icon_path",
          "label": "Icon Path (svg)"
        },
        {
          "type": "url",
          "id": "icon_link",
          "label": "Link"
        }
      ]
    }
  ]
} 
{% endschema %}